.btn {
  cursor: pointer;
  height: 100%;
  border: 1px solid $color-secondary;
  border-radius: $border;
  transition: all 300ms ease-in-out;
  padding: $base $base3x;
  background-color: transparent;
  color: $color-text;
  user-select: none;

  &:hover {
    background-color: $color-primary;
  }

  &--small {
    padding: 10px $base;
  }

  svg {
    padding: 8px;
  }
}
