@import "./mixins.scss";

@font-face {
  font-family: "roboto-mono";
  src: url("../fonts/roboto/robotomono-regular.ttf") format("truetype");
}

html,
body {
  font-family: "roboto-mono", -apple-system, Roboto, sans-serif, serif;
}

h3 {
  @include mobile {
    margin: 5px 0;
  }
}