/* SCSS HEX */
$color-primary: #354f52ff;
$color-secondary: #52796fff;
$color-accent: #84a98c;
$background: #2f3e46ff;
$color-text: #cad2c5ff;

$base: 20px;
$base2x: 20px * 2;
$base3x: 20px * 3;
$base4x: 20px * 4;
$base5x: 20px * 5;
$base6x: 20px * 6;

$border: 5px;
$border2x: $border * 2;
$border3x: $border * 3;

$screen-sm: 600px;
$screen-md: 820px;
$screen-lg: 1080px;
$screen-xl: 1200px;

$transition-basic: cubic-bezier(0.58, 0, 0.32, 1);
