.tray {
  padding: $base;
  width: 100%;
  height: $base3x;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $base3x;
    width: $base3x;
    padding: unset;

    &:not(:last-child) {
      margin-right: $base;
    }
  }
}
