.tray {
  padding: $base;
  width: 75vw;
  max-width: 800px;
  margin: auto;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $base3x;
    width: $base3x;
    padding: unset;
    justify-self: center;
  }

  @include tablet {
    @include mobile {
      max-width: unset;
    }
  }
}
