.home {
  position: relative;

  &__content {
    min-height: calc(100vh - 200px);
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .game-roller {
      margin-top: $base3x;
    }
  }
}
